/*myconntent.css*/
#content_board {
    height: 160px;
    text-align: center;
}

#leftcontent {
    width: 180px;
    min-height: 700px;
    float: left;
    padding-right: 10px;
}

#mycontent {
    width: 600px;
    float: left;
}

#rightcontent {
    width: 160px;
    float: right;
    padding-left: 10px;
}

content {
    z-index: -2;
    display: inline-block;
    float: left;
    position: relative;
    margin-top: -35px;
    text-align: justify;
}