/*myconntent.css*/
#content_board {
    height: 160px;
    text-align: center;
}

#leftcontent {
    width: 150px;
    min-height: 700px;
    float: left;
    padding-right: 25px;
    border-right: solid;
    border-right: #CCC;
    border-right: 1px;
}

#tovar {
    width: 600px;

}


.galereya {
    width: 280px;
    float: left;
}

.text_tovar {
    width: 320px;
    float: left;
}

.text_tovar h1 {
    color: #920bc4;
    text-align: center;
    font-size: 18px;
}

#mycontent {
    width: 630px;
    float: left;
    padding-right: 15px;
    padding-right: 25px;

}

#rightcontent {
    width: 130px;
    float: right;
}

content {
    z-index: -2;
    display: inline-block;
    float: left;
    position: relative;
    margin-top: -35px;
    text-align: justify;
}